{{ with .Site.Params.about }}
<div class="aside__about">
    {{ with .logo }}<img class="about__logo" src="{{ . | absURL }}" alt="Logo">{{ end }}
<h1 class="about__title">{{ .title }}</h1>
{{ with .description }}<p class="about__description">{{ . | markdownify }}</p>{{ end }}
</div>
{{ end }}

<ul class="aside__social-links">
    {{ range $item := .Site.Params.socialLinks }}
    <li>
        <div class="social_icon_container">
            <a href="{{ $item.url }}" rel="me" aria-label="{{ $item.title }}" title="{{ $item.title }}"><img src="{{ $item.img }}" class="social_icon"><img src="{{ $item.imgHover }}" class="social_icon_hovered"></a>&nbsp;
        </div>
    </li>
    {{ end }}
</ul>
